section.fichaPaciente#paciente
          h2  Ficha Paciente
          div.fichaPaciente__datos
              div.fichaPaciente__datos
              p#nombreActual Nombre: 
                span.nombre -
              p#apellidoActual Apellido: 
                span.apellido -
              p#dniActual DNI: 
                span.dni -
              p#numeroEmergenciaActual Numero Emergencia: 
                span.numero -
              p#fechaNacimientoActual Fecha de Nacimiento: 
                span.nacimiento -
              p#sexoActual Sexo:
                span.sexo -
              p#direccionActual Direccion: 
                span.direccion -
              p#emailActual Correo Electronico: 
                span.mail -
              p#ciudadActual Ciudad: 
                span.ciudad -
              p#medioIngresoActual Medio de Ingreso: 
                span.medios -
              p#medicoActual Medico: 
                span.medico -
              p#obraSocialActual Obra Social: 
                span.obraSocial -
              p#numeroObraSocialActual Numero Obra Social: 
                span.numeroObra -
              p#fechaIngresoActual Fecha de Ingreso: 
                span.ingreso -
              p#camaActual Cama: 
                span.cama -

          div.contAction
            div.fichaPaciente__accionesIzq
            div.fichaPaciente__accionesDer

section.fichaPaciente.historial#historial
          h2  Datos Enfermeria
          div.fichaPaciente__datos
              div.fichaPaciente__datos
              p#alergias Alergias: 
                span.alergias -
              p#enfermedadesPrevias Enfermedades previas: 
                span.enfermedadesPrevias -
              p#cirugias Cirugias previas:: 
                span.cirugias -
              p#antecedentes Antecedentes Familiares: 
                span.antecedentes -
              p#medicacionHistorial Medicacion actual:
                span.medicacionActual 

              p#sintomas Sintomas: 
                span.sintomas -
              p#necesidades Necesidades inmediatas: 
                span.necesidades -
              p#prioridad Prioridad: 
                span.prioridad -
              p#presion Presion arterial: 
                span.presion -
              p#frecuenciaCardiaca Frecuencia cardiaca: 
                span.frecuenciaCardiaca -
              p#frecuenciaRespiratoria Frecuencia respiratoria: 
                span.frecuenciaRespiratoria -
              p#temperatura Temperatura corporal: 
                span.temperatura -
              p#colorPiel Color de piel: 
                span.colorPiel -
              p#medicacionSuministrada Medicamentos suministrados: 
                span.medicacionSuministrada -
              p#intervenciones Intervenciones inmediatas: 
                span.intervenciones -
          div.contAction
            div.fichaPaciente__accionesIzq
            div.fichaPaciente__accionesDer

section.fichaPaciente.medicina#medicina
          h2 Parte medica
          div.fichaPaciente__datos
              div.fichaPaciente__datos
              p#analisis Analisis de sangre: 
                span.analisis -
              p#resonancia Resonancia Magnetica: 
                span.resonancia -
           
              p#radiografia Radiografia: 
                span.radiografia -
              p#tratamientoMedico Trat. medicos: 
                span.tratamientoMedico -
              p#tratamientoFisico Trat. fisicos:
                span.tratamientoFisico -
              p#tratamientoOcupacional Trat. ocupacionales: 
                span.tratamientoOcupacional -
              p#medicacionPrescripta Mediacion prescripta: 
                span.medicacionPrescripta -
              p#medicacionDosis Dosis medicacion: 
                span.medicacionDosis -
              p#medicacionDuracion Duracion medicacion: 
                span.medicacionDuracion -
          div.contAction
            div.fichaPaciente__accionesIzq
            div.fichaPaciente__accionesDer

script(src="/script/fichaPacienteGenerico.js")