link(rel="stylesheet", href="/css/estiloModalExitoGenerica.css") 
section.modalExito
        div.contenidoExito
          div.cabeceraExito
            h2 ¡Exito!
          div.cuerpoExito
            p Los datos se enviaron correctamente.
          div.botonesExito
            button.botonCerrarExito(type='button') Cerrar