html
  link(rel='stylesheet', href= '/css/estiloHeader.css')
  header
        nav
          ul
            li: a(href='/') Registro 
            li: a(href='/pacientes/listaPacientes') Pacientes
            li: a(href='/enfermeria/principal') Enfermeria
            li: a(href='#') Medicina 
            li: a(href='/administracion/principal') Administracion Interna
          div.cerrar  
            img.cerrar-logo(src='/images/cerrar.png', alt='Logo')
            p Cerrar sesion