html
  link(rel='stylesheet', href= '/css/estiloHeader.css')
  header
        nav
          ul
            li: a(href='/index') Registro 
            li: a(href='#') Enfermeria
            li: a(href='#') Medicina 
            li: a(href='#') Alas 
            li: a(href='#') Pacientes