<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h1>Bienvenido</h1>
            
        </div>

        <!-- Action es la ruta a la que se enviará el formulario. 
         Nombre y Appellido hace referencia a las claves. Seran propiedades de req-->
        <h1>Formulario usando app.use(express.undecoded)</h1>
        <form action="persona" method="post">
            Nombre: <input type="text" name="nombre" required><br>
            Apellido: <input type="text" name="apellido" required><br>
            <input type="submit">
        </form>

        <br><br>
        
        <h1>Formulario usando app.use(express.json) relacionado a Ajax</h1>
        <form action="persona2" method="post">
            Nombre: <input type="text" name="nombre2" required><br>
            Apellido: <input type="text" name="apellido2" required><br>
            <input type="button" onclick="enviarDatos()" value="Enviar2">
        </form>
    </section>
    <script>
        function enviarDatos(){
            const nombre2 = document.querySelector('input[name="nombre2"]').value;
            const apellido2 = document.querySelector('input[name="apellido2"]').value;
            const url = 'persona2';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre2, apellido2 })
            }).then(respuesta => respuesta.json())
            .then(data => {
                if(data.success){
                console.log(data);
                alert(`Nombre: ${data.nombre2}, Apellido: ${data.apellido2} Procesado` );
                }
            })
        }
    </script>
</body>
</html>