
doctype html
html
  head
    title= title
    link(rel='stylesheet', href= '/public/css/estiloIngreso.css')
  body
    h1 Bienvenido a "#{title}" 
    div.validacion 
        h2 Ingreso al sistema 
        form(action='/login', method='POST')
            div
                label(for='usuario') Usuario:
                input(type='text', name='usuario', required=true)
            div
                label(for='contrase単a') Contrase単a:
                input(type='contrase単a', name='contrase単a', required=true)
            div
                button(type='submit') Ingresar POST a /login

 
