
doctype html
html
  head
    meta(charset="utf-8")
    title Login
    link(rel='stylesheet', href= '/css/estiloIngreso.css')
  body
    div.logContainer
      h1 Ingresar al sistema usando Google 
      a.google-btn(href="/autenticacion/google") Google+

 
