body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Tamaño base de la fuente */
  color: #333; /* Color del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 0;
  padding: 0;
}
header {
  position: fixed; /* Fija la barra en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 50px;
  background-color: #368fee; /* Color de fondo de la barra */
  padding: 10px 0; /* Espaciado vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo para el nav */
nav {
  display: flex;
  padding-top: 10px;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

/* Estilo para la lista */
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Disposición en fila */
  gap: 0px; /* Espaciado entre los elementos */
  margin: 0;
  padding: 0;
}
/* Estilo para los elementos de la lista */
nav ul li {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  border-right: 1px solid #ffffff;
}
nav ul li:last-child {
  border-right: none;
}

/* Estilo para los enlaces */
nav ul li a.linkNav {
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Color del texto */
  font-weight: bold;
  padding: 15px 75px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto hover en los enlaces */
nav ul li a.linkNav:hover {
  background-color: #2d6aac; /* Color más oscuro al pasar el mouse */
}
.cerrar {
  height: 85%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cerrar:hover {
  background-color: rgba(163, 161, 161, 0.37); /* o un color suave de fondo */
}

.cerrar-logo {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.cerrar:hover .cerrar-logo {
  transform: scale(1.2);
}

.cerrar a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: max-width 0.9s ease, opacity 0.9s ease;
  text-decoration: none;
}

.cerrar:hover a {
  color: black;
  max-width: 200px;
  opacity: 1;
}
.cerrar:visited a {
  color: black;
  max-width: 200px;
  opacity: 1;
}

.fotoPerfil {
  height: 85%;
  position: absolute;
  left: 10px;
  top: 0px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.fotoPerfil-logo {
  width: 55px;      
  height: 55px;   
  border-radius: 50%; 
  object-fit: cover;   
  border: 2px solid rgb(50, 221, 50);
  cursor: pointer;   
}
h3{
  color: rgb(50, 221, 50);
}