html
  head
    title Altas
    link(rel='stylesheet', href= '/css/estiloMedicionaAltas.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
    
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)

    include ../includes/botonesIzqDer.pug
    +paginado(true,false,"/medicina/seguimiento","#","Seguimiento", "#")
    
    include ../includes/busquedaPaciente.pug
    +busquedaPacienteGenerica("altas")
    body
      section.altasAccion(style="opacity: 0.5; pointer-events: none;")
        button#botonDarAlta(type="button") Dar alta medica
        button#botonHistorial(type="button") Consultar historial clinico
        button#botonFichaPaciente(type="button") Ficha del paciente
        button#botonMedico(type="button") Seguimiento y tratamientos del paciente

      //- section.fichaPaciente 
      //-     h2 Ficha del Paciente
      //-     div.fichaPaciente__datos
      //-         p#nombreActual Nombre: 
      //-           span.nombre -
      //-         p#apellidoActual Apellido: 
      //-           span.apellido -
      //-         p#dniActual DNI: 
      //-           span.dni -
      //-         p#numeroEmergenciaActual Numero Emergencia: 
      //-           span.numero -
      //-         p#fechaNacimientoActual Fecha de Nacimiento: 
      //-           span.nacimiento -
      //-         p#sexoActual Sexo:
      //-           span.sexo -
      //-         p#direccionActual Direccion: 
      //-           span.direccion -
      //-         p#emailActual Correo Electronico: 
      //-           span.mail -
      //-         p#ciudadActual Ciudad: 
      //-           span.ciudad -
      //-         p#medioIngresoActual Medio de Ingreso: 
      //-           span.medios -
      //-         p#medicoActual Medico: 
      //-           span.medico -
      //-         p#obraSocialActual Obra Social: 
      //-           span.obraSocial -
      //-         p#numeroObraSocialActual Numero Obra Social: 
      //-           span.numeroObra -
      //-         p#fechaIngresoActual Fecha de Ingreso: 
      //-           span.ingreso -
      //-         p#camaActual Cama: 
      //-           span.cama -

      //-     div.fichaPaciente__acciones
      //-         button.boton-editar(type="button", onclick="abrirModal()") Dar alta medica

      script(src="/script/busquedaPacienteGenrica.js")