html
  head
    title Evaluacion Medica
    link(rel="stylesheet", href="/css/estiloEnfermeriaPlanCuidados.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
    
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)

    include ../includes/botonesIzqDer.pug
    +paginado(true,true,"/medicina/infoPaciente","/medicina/seguimiento","Info. Paciente", "Seguimiento")
    
    include ../includes/busquedaPaciente.pug
    +busquedaPacienteGenerica("planCuidados")

    
    section.plan(style="opacity: 0.5; pointer-events: none;")
        h2 Evaluacion Medica
        form.planCuidados(onsubmit="return false;")    

          label(for="select-intervenciones") Intervenciones Inmediatas
          select#select-intervenciones.select2(name="intervenciones" multiple style="width: 500px;")
            //-   each intervencion in intervenciones
            //-     option(value=intervencion.id_intervencion)= intervencion.descripcion


          label(for="select-medicamentos") Administrar Medicamentos Prescriptos
          select#select-medicamentos.select2(name="medicamentos" multiple style="width: 500px; ")
            //- each medicamento in medicamentos
            //-   option(value=medicamento.id_medicamento)= medicamento.descripcion 
          button#guardarPlan(type="button") Guardar
    

    include ../includes/modalExito.pug

    script(src="/script/busquedaPacienteGenrica.js")
    script(src="/script/modificacionPlanCuidados.js")
    script(src="/script/modalExitoGenerico.js")



    script.
      $('.select2').select2({
        placeholder: 'Seleccione una opción...',
        allowClear: true
      });