html
  head
    title Evaluacion Medica
    link(rel="stylesheet", href="/css/estiloMedicinaEvaluacionMedica.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
    
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)

    include ../includes/botonesIzqDer.pug
    +paginado(true,true,"/medicina/infoPaciente","/medicina/seguimiento","Info. Paciente", "Seguimiento")
    
    include ../includes/busquedaPaciente.pug
    +busquedaPacienteGenerica("evaluacionMedica")

    
    section.evaluacionMedica(style="opacity: 0.5; pointer-events: none;")
        h2 Solicitar estudios para evluacion medica

        form.solicitarEvaluacion(onsubmit="return false;")    

          label(for="select-analisis") Analisis de Sangre
          select#select-analisis.select2(name="analisis" multiple style="width: 500px;")
              each tipo_analisis in analisis
                option(value=tipo_analisis.id_analisis)= tipo_analisis.descripcion


          label(for="select-resonancias") Resonacias Magneticas
          select#select-resonancias.select2(name="resonancias" multiple style="width: 500px; ")
            each resonancia in resonancias
              option(value=resonancia.id_resonancia)= resonancia.descripcion 

          label(for="select-radiografias") Radiografias
          select#select-radiografias.select2(name="radiografias" multiple style="width: 500px; ")
            each radiografia in radiografias
              option(value=radiografia.id_radiografia)= radiografia.descripcion 

          button#guardarSolicitudEvaluacion(type="button") Solicitar informacion
    

    include ../includes/modalExito.pug

    script(src="/script/busquedaPacienteGenrica.js")
    script(src="/script/modificacionEvaluacionMedica.js")
    
    script(src="/script/modalExitoGenerico.js")



    script.
      $('.select2').select2({
        placeholder: 'Seleccione una opción...',
        allowClear: true
      });