html
  head
    title Informacion Paciente
    link(rel="stylesheet", href="/css/estiloEnfermeriaInfo.css")
    link(rel="stylesheet", href="/css/estiloFichaPacienteGenerico.css")
   
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")

  body
    
    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)
    include ../includes/botonesIzqDer.pug
    +paginado(false,true,"#","/enfermeria/historial","#","Historial")

    section.informacionPaciente
      h1.titulo Ingrese Nombre, Apellido o DNI del paciente
      div.infoBusqueda
        form.infoBusqueda(action="/buscar" method="get")
          select#buscarPaciente(name="query" style="width: 300px" required)
            each paciente in pacientes
              option(value=paciente.id)= paciente.id + " - " + paciente.dni + " - " +  paciente.apellido + " - " + paciente.nombre
          button(type="submit") Buscar

    include ../includes/fichaPacienteGenerico.pug
                 
    
    script.
      $(document).ready(function () {
        $('#buscarPaciente').select2({
          placeholder: "Busqueda...",
          allowClear: true,
          dropdownParent: $('#buscarPaciente').parent()
        });
      });

       
