html
  head
    title Enfermeria
    link(rel="stylesheet", href="/css/estiloEnfermeriaPrincipal.css")
  body

    include ../includes/navBar.pug
    +navBar(fotoPerfil, nombreUsuario)

    section.enfermeria 
      div.contenedorUno
        include ../includes/infoPacienteGenerico.pug
        +rutaInfo("enfermeria")
        

        a(href='/enfermeria/historial')
          div.historial
            img(src='/images/historial.png')
            h1 Historial Medico

        a(href='/enfermeria/motivoInternacion')
          div.motivo
            img(src='/images/motivo.png') 
            h1 Motivo Internacion

      div.contenedorDos
        a(href='/enfermeria/evaluacionFisica')    
            div.evaluacion
              img(src='/images/evaluacion.png')   
              h1 Evaluacion Fisica Basica

        a(href='/enfermeria/planCuidados')
          div.cuidados
            img(src='/images/cuidados.png')  
            h1 Plan de Cuidados 


      
      
    